<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
    <title>Reviews Site</title>
</head>
<body>
<div class="homeContainer">
    <main class="home">
        <img src="/images/toe-socks-1258857.jpg" alt=""/>
        <h2 class="title">Happiness is</h2>
        <p>a good pair of socks</p>
        <div class="btn"><a th:href="@{/reviews}">See Reviews</a></div>
    </main>
</div>
<footer>
    <small>&copy NMH 2021</small>
</footer>
</body>
</html>