<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
    <title>Pizza Reviews</title>
</head>
<body>
<div class="container">
    <main>
        <h1>Pizza Reviews</h1>
        <figure>
            <img src="" alt=""/>
        </figure>
        <section>
            <button>
                <a th:href="@{/reviews}">See Records</a>
            </button>
        </section>
    </main>
    <footer>
        <small>&copy nmh 2021</small>
    </footer>
</div>
</body>
</html>