<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
    <title th:text = "${reviewModel.name}"></title>
</head>
<body>
<div class="reviewsContainer">
    <main class="review">
        <h1 th:text ="${reviewModel.name}"></h1>
        <img th:src="@{${reviewModel.imgUrl}}" alt="">
        <p><strong>Category: </strong><span th:text="${reviewModel.reviewCategory}"></span></p>
        <p><strong>Review: </strong><span class="reviewDetail" th:text="${reviewModel.review}">Review</span></p>
    </main>
    <nav>
        <a class="btn" th:href="@{/reviews}">Go back</a>
        <a class="btn" th:href="@{/}">Or go home!</a>
    </nav>
</div>
<footer>
    <small>&copy; NMH 2021</small>
</footer>
</body>
</html>