<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
    <title>Reviews Site</title>
</head>
<body>
<div class="reviewsContainer">
<main class="reviews">
    <h1>A List of All Reviews</h1>
    <section class="reviewsList" th:each="review : ${reviewsModel}">
        <ul>
            <li>
                <a class="btn" th:href="@{/reviews/{id}(id=${review.id})}" th:text="${review.name}"></a>
            </li>
        </ul>
    </section>
</main>
<nav>
    <a class="btn" th:href="@{/}">Or go home!</a>
</nav>
</div>
<footer>
    <small>&copy NMH 2021</small>
</footer>
</body>
</html>